@model IEnumerable<Machine.Models.Coin>

@{
    Layout = null;
}

@helper CreateList(string content)
{
    @Html.Raw(content);
}

@*<h2>@ViewBag.Title.</h2>*@

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript">
    var Sum = 0;
    function PlusOne() {
        Sum += 1;
        $('input[name="SumMoney"]').val(parseInt(Sum) + parseInt($('output[name="result"]').text()));
    }
    function PlusTwo() {
        Sum += 2;
        $('input[name="SumMoney"]').val(parseInt(Sum) + parseInt($('output[name="result"]').text()));
    }
    function PlusFive() {
        Sum += 5;
        $('input[name="SumMoney"]').val(parseInt(Sum) + parseInt($('output[name="result"]').text()));
    }
    function PlusTen() {
        Sum += 10;
        $('input[name="SumMoney"]').val(parseInt(Sum) + parseInt($('output[name="result"]').text()));
    }
    function DisableButton(Button) {
        var btn = document.getElementById(Button).disabled = false;
    }
    $(function () {
        $("#One").click(PlusOne);
    });
    $(function () {
        $("#Two").click(PlusTwo);
    });
    $(function () {
        $("#Five").click(PlusFive);
    });
    $(function () {
        $("#Ten").click(PlusTen);
    });

</script>


<body>
    <style type="text/css">
        .center {
            display: block;
            margin: auto;
        }

        .button {
            width: 100px;
            height: 50px;
            text-align: center;
        }

        .hide {
            //visibility: hidden;
            display: none;
        }
    </style>
    @* <input class="center" src="~/Images/coffee.jpg" style="width: 64px; height: 48px;vertical-align: bottom;" type="image">Кофе, 50 руб.*@
    @*<input alt="" src="https://png.pngtree.com/element_origin_min_pic/16/10/13/0957fee4040d5b0.jpg" style="width: 64px; height: 48px;" type="image">*@
    @*<p><input id="Coffee" class="center" src="~/Images/coffee.jpg" style="width: 128px; height: 96px;vertical-align: bottom" type="image" disabled=@ViewBag.BThereisCoffee></p>
        <p align="center">Кофе, 50 руб.</p>*@
    @using (Html.BeginForm())
    {
        <table border="1">
            <tr>
                <td rowspan="2">
                    <h3 valign="top">2 - выберите напиток</h3>

                    <table>
                        <tr>
                            <td>
                                <button name="clickonbutton" type="submit" value="Coffee" disabled=@ViewBag.BThereisCoffee><img class="center" src="~/Images/coffee.jpg" style="width: 128px; height: 96px;vertical-align: bottom">Кофе, 50 руб.</button>
                            </td>
                            <td>
                                <button name="clickonbutton" type="submit" value="Tea" disabled=@ViewBag.BThereisTea><img class="center" src="~/Images/tea.jpg" style="width: 128px; height: 96px;vertical-align: bottom">Чай, 40 руб.</button>
                            </td>
                            <td>
                                <button name="clickonbutton" type="submit" value="Water" disabled=@ViewBag.BThereisWater><img class="center" src="~/Images/water.png" style="width: 128px; height: 96px;vertical-align: bottom">Вода, 35 руб.</button>

                            </td>

                        </tr>
                        <tr>
                            <td>
                                <button name="clickonbutton" type="submit" value="Air" disabled=@ViewBag.BThereisAir><img class="center" src="~/Images/air.png" style="width: 128px; height: 96px;vertical-align: bottom">Воздух, 5 руб.</button>

                            </td>
                            <td>
                                <button name="clickonbutton" type="submit" value="Beetlejuice" disabled=@ViewBag.BThereisBeetlejuice><img class="center" src="~/Images/beetlejuice.png" style="width: 128px; height: 96px;vertical-align: bottom">Beetlejuice, 25 руб.</button>

                            </td>
                            <td>
                                <button name="clickonbutton" type="submit" value="Yupi" disabled=@ViewBag.BThereisYupi><img class="center" src="~/Images/yupi.jpg" style="width: 128px; height: 96px;vertical-align: bottom">Yupi, 15 руб.</button>

                            </td>
                            <td>
                                <input class="hide" name="SumMoney" value=@ViewBag.SumMoney>
                            </td>
                        </tr>
                    </table>

                </td>
                <td valign="top">
                    <h3 valign="top">1 - внесите деньги</h3>
                    <table>
                        <tr>
                            @foreach (var p in Model)
                            {
                                <td><input name="clickbuttoncoin" id=@p.SNameCoin class="button" type="submit" value="@p.SNameNumberCoin руб." disabled=@p.BDontCoin /></td>
                                if (p.SNameCoin == "Two")
                                {
                                    @CreateList("</tr> <tr>");
                                }
                            }

                        </tr>
                        <tr>
                            <td colspan="2" align="center">Внесено: </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <p><output name="result">@ViewBag.SumMoney</output> руб.</p>
                            </td>

                        </tr>
                    </table>

                </td>
            </tr>
            <tr>
                <td>
                    <h3 valign="top">3 - получите сдачу</h3>
                    <input id="Button1" class="center button" type="submit" value="@ViewBag.RestOfMoney руб." />
                </td>
            </tr>
        </table>
    }
</body>

